<%- include ("header"); %>
<section class="homepage">
  <div class="container-fluid">
    <!--Header / Logo section -->
    <div class="header container">
      <div class="logo row justify-content-center align-items-center">
        <div class="col-xs-6 img-logo" >
          <i class="bi bi-clouds-fill"></i>
        </div>
        <div class="col-xs-6 logo-text">
          <h2><span style="color: #1D67F1">weather </span><span style="color: #646363">lookup</span></h2>
        </div>
      </div>
    </div>

    <div class="container overflow-hidden weather">
      <div class="row">
        <div id="box"class="col-5 weather-display">
          <div class="container">
            <div class="row row-bottom-margin"><h3>Lagos</h3></div>

            <div id="temp-sign" class="row align-items-center row-bottom-margin">
              <span class="col-6 we">
                <h1 id="temp-indicator">28</h1>
                <!--<span class="degree"><i class="bi bi-record-circle-fill"></i></span>-->
              </span>
              <span id="temp-indicator-img" class="col-6 we">
                <i class="bi bi-clouds-fill"></i>
              </span>
            </div>

          <div class="row row-bottom-margin" id="temp-indicator-text">
            <button type="button" class="btn btn-secondary btn-sm rounded-pill" disabled>cloudy</button>
          </div>

          <div class="row row-bottom-margin" id="more-details">
            <div class="col"><i class="bi bi-moisture"></i> <pre>18%</pre></div>
            <div class="col"><i class="bi bi-clock"></i><pre>08:00AM</pre></div>
            <div class="col"><i class="bi bi-calendar-week"></i><pre>SEP 9 2021</pre></div>
          </div>

        </div>
      </div>

        <div id="box" class="col-6 weather-search">
          <!-- Weather search -->
          <div class="container">

            <form class="search-form">
              <div class="row">
                <div class="col-10"><input type="text" class="form-control" placeholder="Lookup the weather"></div>
                <div class="col"><button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button></div>
              </div>
            </form>
            
            <div id="rnd-cities" class="row">

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>


</section>

<%- include("footer"); %>
