<%- include ("header"); %>
<section class="homepage">
  <div class="container-fluid">
    <!--Header / Logo section -->
    <div class="header container">
      <div class="logo row justify-content-center align-items-center">
        <div class="col-xs-6 img-logo" >
          <i class="bi bi-clouds-fill"></i>
        </div>
        <div class="col-xs-6 logo-text">
          <h2><span style="color: #1D67F1">weather </span><span style="color: #646363">lookup</span></h2>
        </div>
      </div>
    </div>

    <div class="container overflow-hidden weather">
      <div class="row">
        <div class="col-5 weather-display">
          <div class="container">
            <div class="row"><h3>Lagos</h3></div>
            <div class="row">
              <span class="col-6">
                <h1 id="temp-indicator">28</h1>
              </span>
              <span id="temp-indicator-img" class="col-6">
                <i class="bi bi-clouds-fill"></i>
              </span>
            </div>
            <div class="row" id="temp-indicator-text"><p>cloudy</p></div>
            <div class="row"></div>
          </div>
        </div>

        <div class="col-6 weather-search">
          <!-- Weather search -->
        </div>
      </div>
    </div>

  </div>


</section>

<%- include("footer"); %>
